@inherits AbstBlazorBaseInput
<select id="@Name" value="@_component.SelectedIndex" @onchange="HandleChange" disabled="@(_component.Enabled ? null : true)" style="@BuildStyle()" size="@_component.Items.Count">
    @for (int i = 0; i < _component.Items.Count; i++)
    {
        var item = _component.Items[i];
        <option value="@i">@item.Value</option>
    }
</select>
<style>
    #@Name option { color:@_component.ItemTextColor.ToHex(); }
    #@Name option:hover { color:@_component.ItemHoverTextColor.ToHex(); background-color:@_component.ItemHoverBackgroundColor.ToHex(); }
    #@Name option:active { color:@_component.ItemPressedTextColor.ToHex(); background-color:@_component.ItemPressedBackgroundColor.ToHex(); }
    #@Name option:checked, #@Name option:selected { color:@_component.ItemSelectedTextColor.ToHex(); background-color:@_component.ItemSelectedBackgroundColor.ToHex(); }
</style>
